<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>CRYPTARB</title>
        <script src="/js/socket.io.js"></script>
        <script src="/js/site.js"></script>
        <script src="/js/background.js"></script>
        
        <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">
        
        <link rel="stylesheet" type="text/css" href="/fontello/css/animation.css">
        <link rel="stylesheet" type="text/css" href="/fontello/css/fontello.css">
        <link rel="stylesheet" type="text/css" href="/css/reset.css">
        <link rel="stylesheet" type="text/css" href="/css/grid.css">
        <link rel="stylesheet" type="text/css" href="/css/table.css">
        <link rel="stylesheet" type="text/css" href="/css/components.css">
        <link rel="stylesheet" type="text/css" href="/css/typography.css">
        <link rel="stylesheet" type="text/css" href="/css/style.css">
    </head>
    <body>
        <div id="background">
            <canvas id="headerCanvas"></canvas>
        </div>
        <nav>
            <div class="container">
                <div class="row">
                    <div class="col-3">
                        <a href="/#about">ABOUT</a>
                    </div>
                    <div class="col-3">
                        <a href="/#about">ROADMAP</a>
                    </div>
                    <div class="col-3">
                        <a href="/#about">STAY UPDATED</a>
                    </div>
                    <div class="col-3 push-11">
                        <a href="/account/"><i class="icon-user"></i> ACCOUNT</a>
                    </div>
                </div>
            </div>
        </nav>
        
        <%- page %>
    </body>
</html>