<div class="row">
    <div class="col-xs-24">
        <div id="tab">
            <ul>
                <li data-for="routes"><i class="fa fa-recycle"></i> <span>Routes</span></li>
                <li data-for="balances"><i class="fa fa-balance-scale"></i> <span>Balances</span></li>
                <li data-for="trades"><i class="fa fa-random"></i> <span>Trades</span></li>
                <li data-for="orders"><i class="fa fa-list"></i> <span>Orders</span></li>
                <li data-for="currencies"><i class="fa fa-money"></i> <span>Currencies</span></li>
                <li data-for="markets"><i class="fa fa-line-chart"></i> <span>Markets</span></li>
                <li data-for="config"><i class="fa fa-cog"></i> <span>Config</span></li>
            </ul>
        </div>
    </div>
    <div id="tabContent" class="col-xs-24" style="overflow-x: overflow;">
        <div id="routes">
            <div class="routes">
            </div>
        </div>
        <div id="balances">
            <div class="text-right">
                <button class="button" onclick="if(confirm('Are you sure you want to balance your currencies? Balances will be traded to USDT and traded back balanced on how many routes the currency has open. You will pay commission for each trade.')) { $.get('/balance/rebalance', function(data) { alert('request sent.'); }); }">Balance book</button>
            </div>
            <div class="balances"></div>
        </div>
        <div id="trades">
            <div class="trades"></div>
        </div>
        <div id="orders">
            <div class="text-right">
                <button class="button" onclick="if(confirm('Are you sure you want to cancel all your orders?')) { $.get('/order/cancelAll', function(data) { alert('request sent.'); }); }">Cancel all</button>
            </div>
            <div class="orders"></div>
        </div>
        <div id="currencies">
            <div class="currencies"></div>
        </div>
        <div id="markets">
            <div class="markets"></div>
        </div>
        <div id="config">
            <div class="config"></div>
        </div>
    </div>
</div>
<script src="/js/tabs.js"></script>
<script src="/js/arbitrage.js"></script>