

img.responsive {
    width: 100%;
    height: auto;
}

input {
    padding: 10px;
    background: rgba(0,0,0,0.1);
    border: rgba(255,255,255,0.2) 1px solid;
    margin-top: 10px;
    margin-bottom: 10px;
}
input[type="submit"] {

}

.button {
     padding: 10px;
    background: rgba(0,0,0,0.1);
    border: rgba(255,255,255,0.2) 1px solid;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    border: #61FCA1 1px solid;
}
.button.green {
    background: rgba(97, 252, 161,0.5);
}