label {
    display: block;
    text-align: right;
    padding: 5px;
    box-sizing: border-box;
}
input, select {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    margin-bottom: 5px;
}
form p {
    padding-bottom: 20px;
    
}
label {
    padding: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    display: block;
    box-sizing: border-box;
}