<form action="/config/config" method="post" id="configConfig">
    <div class="row">
        <div class="col-xs-24 col-m-8" style="padding: 10px;">
            <h2>Strategy Settings</h2>
            <div class="row">
                <div class="col-xs-20">
                    <label for="trade" class="text-left">Enable trade</label>
                </div>
                <div class="col-xs-4">
                    <input type="hidden" name="trade" value="false">
                    <input type="checkbox" name="trade" id="trade" value="true" <%= route.config('trade') ? 'checked="checked"' : '' %>>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-20">
                    <label for="profitAllThree" class="text-left">Profit all three</label>
                </div>
                <div class="col-xs-4">
                    <input type="hidden" name="profitAllThree" value="false">
                    <input type="checkbox" name="profitAllThree" value="true" id="profitAllThree" <%= route.config('profitAllThree') ? 'checked="checked"' : '' %>>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-24">
                    <label for="minInputBtc" class="text-left">Input BTC</label>
                </div>
                <div class="col-xs-24">
                    <input type="text" name="minInputBtc" id="minInputBtc" value="<%= route.config('minInputBtc') %>">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-24">
                    <label for="minProfitFactor" class="text-left">Min profit factor</label>
                </div>
                <div class="col-xs-24">
                    <input type="text" name="minProfitFactor" id="minProfitFactor" value="<%= route.config('minProfitFactor') %>">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-24">
                    <label for="mode" class="text-left">Mode</label>
                </div>
                <div class="col-xs-24">
                    <select name="mode" id="mode" onchange="if ($(this).val() === 'fixed') {
                                $('#fixedRow').show();
                            } else {
                                $('#fixedRow').hide();
                            }">
                        <option value="market" <%= delta.config('mode') === 'market' ? 'selected="selected"' : '' %>>market</option>
                        <option value="potential" <%= delta.config('mode') === 'potential' ? 'selected="selected"' : '' %>>potential</option>
                        <option value="median" <%= delta.config('mode') === 'median' ? 'selected="selected"' : '' %>>median</option>
                        <option value="last" <%= delta.config('mode') === 'last' ? 'selected="selected"' : '' %>>last</option>
                        <option value="fixed" <%= delta.config('mode') === 'fixed' ? 'selected="selected"' : '' %>>fixed</option>
                    </select>
                </div>
            </div>
            <div class="row" style="display: <%= delta.config('mode') === 'fixed' ? 'block' : 'none' %>" id="fixedRow">
                <div class="col-xs-24">
                    <label for="fix" class="text-left">Fix</label>
                </div>
                <div class="col-xs-24">
                    <input type="text" name="fix"value="<%= delta.config('fix') %>" id="fix">
                </div>
            </div>
        </div>
        <div class="col-xs-24 col-m-8" style="padding: 10px;">
            <h2>Security Settings</h2>
            <% if(confirmPasswordError) { %>
                <p>Confirm password error</p>
            <% } %>
            <% if(passwordNotMatchError) { %>
                <p>Passwords do not match</p>
            <% } %>
            <div class="row">
                <div class="col-xs-24">
                    <label for="password" class="text-left">New Password</label>
                </div>
                <div class="col-xs-24">
                    <input type="password" name="password" id="password">
                </div>
                <div class="col-xs-24">
                    <label for="confirmPassword" class="text-left">Confirm new password</label>
                </div>
                <div class="col-xs-24">
                    <input type="password" name="confirmPassword" id="confirmPassword">
                </div>
            </div>
        </div>
        <div class="col-xs-24 col-m-8" style="padding: 10px;">
            <h2>Bittrex Settings</h2>
            <div class="row">
                <div class="col-xs-24">
                    <label for="apiKey" class="text-left">API Key</label>
                </div>
                <div class="col-xs-24">
                    <input type="text" name="apiKey" id="apiKey" value="<%= bittrex.config('apikey') %>">
                </div>
                <div class="col-xs-24">
                    <label for="apiSecret" class="text-left">API Secret</label>
                </div>
                <div class="col-xs-24">
                    <input type="text" name="apiSecret" id="apiSecret" value="<%= bittrex.config('apisecret') %>">
                </div>
                <div class="col-xs-24">
                    <label for="subAccountId" class="text-left">Sub account ID</label>
                </div>
                <div class="col-xs-24">
                    <input type="text" name="subAccountId" id="subAccountId" value="<%= bittrex.config('subaccountid') %>">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-24 push-m-16 col-m-8">
            <input type="submit" value="Update settings">
        </div>
    </div>
</form>